body {
  background-color: #3498db;
}

div {
  text-align: center;
  margin: 10%;
  height: 100%;
}

button {
  color: #34495e;
  background-color: #2ecc71;
  text-align: center;
  font-size: 5vw;
  padding: 15px;
  font-family: "Arvo", serif;
  font-weight: 500;
  overflow: hidden;
  width: 30%;
  border-color: #34495e;
  border-style: solid;
  border-width: 7px;
  border-radius: 15px;
  outline: none;
  box-shadow: -15px 15px 0px #34495e;
  transition: 0.2s;
}
button:hover {
  color: #2ecc71;
  background-color: #34495e;
  border-color: #2ecc71;
  transition: .3s;
}
button:active {
  border-width: 5px;
  box-shadow: 0px 0px 0px #34495e;
  transform: translate(-15px, 15px);
}
